*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Segoe UI',sans-serif;
}

.app{
  min-height:100vh;

  background:
  linear-gradient(
  135deg,
  #0f172a,
  #1e293b,
  #2563eb);

  display:flex;
  justify-content:center;
  align-items:center;
}

.overlay{
  width:100%;
  max-width:1000px;
  padding:40px;
}

.title{
  text-align:center;
  color:white;
  font-size:3rem;
  margin-bottom:40px;
}

.search-container{
  display:flex;
  justify-content:center;
  gap:10px;
}

.search-container input{
  width:350px;
  padding:15px;
  border:none;
  border-radius:15px;
  background:rgba(255,255,255,.15);
  color:white;
  backdrop-filter:blur(15px);
}

.search-container input::placeholder{
  color:#ddd;
}

.search-container button{
  padding:15px 25px;
  border:none;
  border-radius:15px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
  font-weight:bold;
}

.weather-card{
  margin-top:40px;

  background:rgba(255,255,255,.12);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,.2);

  border-radius:30px;

  padding:40px;

  color:white;

  box-shadow:
  0 8px 32px rgba(0,0,0,.3);
}

.weather-main{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.temp{
  font-size:6rem;
  font-weight:bold;
}

.weather-main h2{
  font-size:2rem;
}

.stats{
  margin-top:40px;

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(150px,1fr));

  gap:20px;
}

.stat-card{
  background:rgba(255,255,255,.08);

  padding:25px;

  border-radius:20px;

  text-align:center;
}

.stat-card h3{
  font-size:2rem;
}

.stat-card p{
  font-size:1.5rem;
  margin-top:10px;
}

.loader{
  width:60px;
  height:60px;
  border:5px solid rgba(255,255,255,.2);
  border-top:5px solid white;
  border-radius:50%;
  animation:spin 1s linear infinite;
  margin:40px auto;
}

@keyframes spin{
  100%{
    transform:rotate(360deg);
  }
}